h1 {
    text-align: center;
}

img {
    text-align: center; 
}

p {
    width: 800px;
    margin: 0 auto; 
    color: black;
}

#main {
    color: black; 
    font-size: large;
    position: relative; 
    top: -500px; 
    text-align: center;
}

